footer
  p
    | Made with 
    a(href='http://harpjs.com/', target='_blank') Harp.js
    |  and 
    span.love â¤
    |  by 
    a(href='http://celsomireles.com') Celso Mireles
script(src='/assets/js/main.js')
