footer.row
	.col-12
		p.text-center
			| Made with
			a(href='http://harpjs.com/', target='_blank') Harp.js
			|  and
			span.love ❤
			|  by
			a(href='https://github.com/celsom3/celsom3.github.io') Celso Mireles Salinas
		script(src='/assets/js/main.js')
