nav.main-nav.dark-gradient
	.col-12
		a.brand(href="#")
			img(src="http://placehold.it/80x80")
		#nav-title #{ title }
		ul.nav-menu
			li
				a(href="#") Home
			li
				a(href="#") Me
			li
				a(href="#") Work
			li
				a(href="#") You
