.green-line
section.main-nav
	.row
		.col-6.nav-brand
			a.brand(href="index.html")
				!= partial('/site-logo')

		.col-6.nav-slide.animated
			nav
				ul
					li
						a.page-scrollx(href="/cv") CV
					li
						a.page-scrollx(href="/work") Work
					li
						a.page-scrollx(href="/blog") Blog
