.green-line
section.main-nav
	.row
		.col-12.nav-brand
			a.brand(href="/")
				!= partial('/site-logo')

		//- .col-6.nav-slide.animated
		//- 	nav
		//- 		ul
		//- 			li
		//- 				a.page-scrollx(href="/work") Work
		//- 			li
		//- 				a.page-scrollx(href="/blog") Blog
