nav.main-nav
	.col-12
		a.brand(href="#")
			img(src="assets/img/nav-logo.png" alt="Celso Mireles")
		#nav-title #{ title }
		ul.nav-menu
			li
				a(href="#") Me
			li
				a(href="#") Work
			li
				a(href="#") You
