.green-line
section#site-nav.main-nav
	//- ul.new-nav
	//- 	li
	//- 	a.brand(href="/")
	//- 		!= partial('/site-logo')
	//- 	li
	//- 		a.page-scrollx(href="/work") Work
	//- 	li
	//- 		a.page-scrollx(href="/blog") Blog
	.row
		.col.col-6.nav-brand
			a.brand(href="/")
				!= partial('/site-logo')
			a.mobile-menu(href="#")
				svg(height='32px', style='enable-background:new 0 0 32 32;', version='1.1', viewbox='0 0 32 32', width='32px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
					path(style="fill: #ffffff;", d='M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z')

	
		.col.col-6.nav-slide.animated#collapsible-nav(data-visible="hidden")
			nav
				ul
					li
						a.page-scrollx(href="/work") Work
					li
						a.page-scrollx(href="/blog") Blog
