meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{ title }
meta(name='description', content='A blog about lorem ipsum dolor sit amet')
link(rel='author', href='https://plus.google.com/+113375357859779943201?rel=author')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@celsom3')
meta(name='twitter:title', content='')
meta(name='twitter:description', content='A blog about lorem ipsum dolor sit amet')
meta(property='twitter:image:src', content='http://localhost:4000/assets/img/blog-image.png')
meta(property='og:url', content='http://localhost:4000/')
meta(property='og:title', content='')
meta(property='og:image', content='http://localhost:4000/assets/img/blog-image.png')
meta(property='og:description', content='A blog about lorem ipsum dolor sit amet')
meta(property='og:site_name', content='')
meta(itemprop='name', content='')
meta(itemprop='description', content='A blog about lorem ipsum dolor sit amet')
meta(itemprop='image', content='http://localhost:4000/assets/img/blog-image.png')

link(rel='shortcut icon', href='/assets/img/icons/favicon.ico', type='image/x-icon')
link(rel='apple-touch-icon', href='/assets/img/icons/apple-touch-icon.png')
link(rel='apple-touch-icon', sizes='57x57', href='/assets/img/icons/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='72x72', href='/assets/img/icons/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='114x114', href='/assets/img/icons/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='144x144', href='/assets/img/icons/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='60x60', href='/assets/img/icons/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='120x120', href='/assets/img/icons/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/icons/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='152x152', href='/assets/img/icons/apple-touch-icon-152x152.png')
meta(name='application-name', content='Celso Mireles Blog')
meta(name='msapplication-TileColor', content='#0562DC')
meta(name='msapplication-square70x70logo', content='smalltile.png')
meta(name='msapplication-square150x150logo', content='mediumtile.png')
meta(name='msapplication-wide310x150logo', content='widetile.png')
meta(name='msapplication-square310x310logo', content='largetile.png')
meta(name='theme-color', content='#0562DC')


link(rel='stylesheet', href='/assets/css/main.css')
link(rel='canonical', href='http://localhost:4000/')
link(rel='alternate', type='application/rss+xml', title='', href='http://localhost:4000/feed.xml')
