header.main-nav
	.row
		.six.columns
			a.brand(href="#")
				img(src="assets/img/nav-logo.png" alt="Celso Mireles")
			#nav-title #{ title }

		.six.columns
			nav
				ul
					li
						a(href="#") Me
					li
						a(href="#") Work
					li
						a(href="#") You
