.green-line
section.main-nav
	.row
		.col.col-6.nav-brand
			a.brand(href="/")
				!= partial('/site-logo')

		.col.col-6.nav-slide.animated
			nav
				ul
					li
						a.page-scrollx(href="/work") Work
					li
						a.page-scrollx(href="/blog") Blog
