header.main-nav
	.row
		.six.columns.nav-brand
			a.brand(href="index.html")
				img(src="assets/img/nav-logo.png" alt="Celso Mireles")
			#nav-title 
				a(href="index.html") #{ title }
			#burger
				button.tcon.tcon-menu--xcross(type='button', aria-label='toggle menu')
					span.tcon-menu__lines(aria-hidden='true')
					span.tcon-visuallyhidden toggle menu
					span.tcon-indicator(aria-label='scroll', aria-hidden='true')

		.six.columns.nav-slide.animated
			nav
				ul
					li
						a(href="blog.html") Blog
					li
						a.page-scrollx(href="#portfolio") Work
					li
						a.page-scrollx(href="#you") You
