header.main-nav
	.row
		.six.columns.nav-brand
			a.brand(href="index.html")
				img(src="assets/img/site-logo.svg" alt="Celso Mireles")

		.six.columns.nav-slide.animated
			nav
				ul
					li
						a.page-scrollx(href="/") About
					li
						a.page-scrollx(href="/portfolio") Work
					li
						a.page-scrollx(href="/blog") Blog
