//- #splash(style="position:relative;top:0px;left:0px;width:100%;height: 100%;overflow-x:hidden;")
#splash
	//- .splash-bg.animated.fadeIn
	//- 	img(src="assets/img/site-splash.jpg")
	//- .container
	//- 	.row
	//- 		div.twelve.columns
	//- 			h1 #{ user_title }
	.splash-box
		#slider(style="width:100%;min-width;300px;height: 30px;margin-bottom:30px;")
		.container
			.row
				.six.columns.hide-small
					h3#splash-heading Engineer
				.six.columns
					img.img-responsive#splash-img(src="assets/img/feature/01.svg")
			.row
				.twelve.columns(style="min-width:300px!important;padding-top:30px;")
					a.page-scroll(href="#main")
						p.text-center
							svg.tcon-svgchevron(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 36')
								path.a3(d='M0,0l15,16L30,0')
								path.a2(d='M0,10l15,16l15-16')
								path.a1(d='M0,20l15,16l15-16')
!= partial('header-default')
