#splash.dark-gradient
	.splash-box
		.container
			.row
				.six.columns
					img.img-responsive(src="http://placehold.it/300x350")
				.six.columns
					img.img-responsive(src="http://placehold.it/300x350")
			.row
				.twelve.columns
					p.text-center(style="color:white;text-align:center;margin:0px auto;") Scroll Down
	!= partial('header-default')
