svg#celso(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='800px', height='800px', viewbox='0 0 800 800', enable-background='new 0 0 800 800', xml:space='preserve')
  polygon(id="p1", fill='#201F1F', points='184.458,269.258 198.239,172.788 215.328,221.023 ', title="I like to play guitar.")
  polygon(fill='#201F1F', points='202.462,159.833 219,216.889 219,124.277 ', title="Currently working on this web app, called Undocumoney", data-link="http://Undocumoney.com")
  polygon(fill='#201F1F', points='224.148,117.111 286.44,60.883 268.8,103.33 ', title="I'm a web developer that likes to build things using Node.js, React.js, and any other cool new tools")
  polygon(fill='#201F1F', points='224,124.277 340.867,93.407 224,210.825 ', data-link="https://immigration-wizard.abogadoray.com", title='Check out this web application I built for an immigration lawyer using Node, React, and Redux')
  polygon(fill='#201F1F', points='276.518,102.778 296.914,55.371 353.142,24.5 ', title="Check out my Twitter", data-link="http://twitter.com/celsom3")
  polygon(fill='#201F1F', points='286.44,102.778 362.514,24.5 411.024,44.896 ', title="I'm also on linkedIn", data-link="https://www.linkedin.com/in/celsomireles")
  polygon(fill='#201F1F', points='286.44,161.212 371.885,71.357 435.831,88.997 ', title="A great part of my life was spent undocumented.")
  polygon(fill='#201F1F', points='381.256,66.396 413.78,49.307 431.972,82.933 ', title="Graduated from ASU in 2009 with a B.S. Degree in Business Management")
  polygon(fill='#201F1F', points='366.372,129.239 440.24,96.164 497.021,144.674 435.831,124.277 ', title="Rides a motorcycle.")
  polygon(fill='#201F1F', points='180.047,381.714 139.806,328.794 176.188,334.858 ', title="Node.js")
  polygon(fill='#201F1F', points='139.806,326.038 144.767,306.192 180.047,275.322 171.227,328.794 ', title="React.js")
  polygon(fill='#201F1F', points='184.458,359.664 186.663,275.322 242.339,248.862 ', title="Javascript")
  polygon(fill='#201F1F', points='196.585,355.254 232.968,387.778 242.339,271.463 ', title="Adobe Illustrator and Photoshop")
  polygon(fill='#201F1F', points='282.03,198.697 377.949,170.583 366.372,214.132 ', title="Fedora Linux")
  polygon(fill='#201F1F', points='375.744,211.376 385.666,168.929 489.303,177.198 ', title="Songwriter")
  polygon(fill='#201F1F', points='431.972,202.556 499.776,181.057 559.312,194.287 ', title="The elusive Celso can sometimes be seen at the gym in the wee hours of the morning")
  polygon(fill='#201F1F', points='521.275,207.242 548.287,237.836 630.424,216.889 ', title="Born in Ciudad Juarez, Mexico")
  polygon(fill='#201F1F', points='551.595,243.349 570.338,302.058 633.732,222.539 ', title="Grew up in the streets of Phoenix")
  polygon(fill='#201F1F', points='215.052,254.65 278.584,194.425 391.661,154.666 506.328,170.618 535,185.467 535,177.198\
  489.55,144.674 424.377,131.444 336.666,144.674 269.933,177.198 192.19,262.298 ', title="Freelance web developer and designer", data-link="http://pocholabs.com")
  polygon(fill='#201F1F', points='315.691,303.91 331.729,297.747 348.775,284.366 353.142,294 376,294 376,284.142 383.038,294.026\
  393.448,288.942 375.744,275 354.796,275 319.516,295.006 ', title='Have a great startup idea?')
  polygon(fill='#201F1F', points='471.938,283.315 487.648,270.774 506.392,264.159 521.275,263.194 534.506,269.238 542.774,283\
  527,283 527,275.322 521.381,283.315 502.034,280.674 500.328,275 489.165,275 483.515,277.917 476.348,283.373 481.447,289.576\
  495.366,297.628 480.069,294.33 ', title="Life Long Learner")
  polygon(fill='#201F1F', points='408.819,350.844 419.293,367.933 435.831,356.908 459.535,350.844 463.394,359.389 432.523,371.792\
  414.883,375.1 406.062,362.972 ', title="Unitarian Universalist")
  polygon(fill='#201F1F', points='479.38,355.254 489.303,348.639 497.021,351.947 503.635,359.664 511.353,350.844 503.635,362.972\
  489.303,365.177 ', title="Let's go hiking")
  polygon(fill='#201F1F', points='396.002,441.802 427.493,428.145 454.573,420 471.662,420 495.366,413.26 516.314,422.57\
  528.809,422.172 532.852,416.459 541.121,415.716 531.198,408.179 521.275,413.512 503.084,399 489.303,399 471.938,405.518\
  463.394,401.058 441.343,408.199 417.088,427.481 403.307,434.09 388.974,435.74 ', title="In Lak'Ech")
  polygon(fill='#201F1F', points='466.149,449.047 471.938,437 489.303,437 497.021,444.914 479.38,458.835 481.585,470 497.021,470\
  484.893,476 466.149,476 476.072,464.866 ', title="The Four Agreements", data-link="http://www.miguelruiz.com/")
  polygon(fill='#201F1F', points='246.198,465.781 270.178,522.423 278.033,560.391 251.642,554.844 246.715,544.904 237.361,541.036\
  246.741,532.212 242.178,515.672 231,501.337 231,522.285 212.756,530.554 189,512.914 189,490.312 202.439,478.735\
  189.314,441.867 173.432,405 179.496,405 196.585,446.002 219.462,471.465 ', title="Will one day build a house out of shipping containers")
  polygon(fill='#201F1F', points='232,435.187 232,420.854 226,416.443 226,402.111 219.286,391.637 210.968,398.804 199.917,413.412\
  210.93,425.264 222.292,420.303 ', title="Will one day travel the world in a converted school bus")
  polygon(fill='#201F1F', points='192.175,420.303 196.585,393.842 208.713,387.778 213.398,378.958 199.893,369.036 186.663,365.177\
  184.458,378.958 187.214,398.804 ', title="I believe science is a real thing")
  polygon(fill='#201F1F', points='428.664,552.787 481.585,540.661 422.049,610.486 466.149,607.73 488.936,566.387 534.506,537.169\
  573.094,500.786 590.183,456.686 586.324,395.496 575.85,460.82 551.595,503.542 515.396,523.389 476.439,511.627 443.365,530\
  393.752,530 ', title="Borders are a construct of man")
  polygon(fill='#201F1F', points='260.531,480.39 290.942,530.371 329.056,602.769 351,633.271 351,588.436 409.311,566.386\
  368.639,562.711 344.444,556.831 295.965,507.585 260.516,444.375 239.759,405.419 ', title="Free your mind")
  polygon(fill='#201F1F', points='551.595,600.931 555.086,640.621 542.774,688.396 507.356,746.463 471.938,777.333 534.506,728.087\
  563.906,657.526 566.846,633.271 621.237,642.826 691.062,667.816 675.627,641.355 597.716,617.836 548.471,592.11 ', title="Let's jam! I'll take my guitar.")
  polygon(fill='#201F1F', points='278.217,585.68 232.509,603.228 151.611,625.967 108.958,642.113 216.166,617.848 247.858,610.491\
  249.325,668.555 255.939,619.307 278.113,592.111 273,622.246 273,657.895 283.762,684.722 277.98,610.486 283.841,607.546\
  293.41,672.226 333.842,744.258 304.444,653.116 283.131,578.881 ', title="Ni de aqui, ni de alla")
  polygon(fill='#201F1F', points='247.301,242.247 278.033,204.761 348.732,216.889 ', title="Tries to meditate every morning.")
  polygon(fill='#201F1F', points='389.102,287.633 396.387,280.296 381.624,251 350.386,251 319.516,269.225 315.691,282.655\
  343.035,265.391 365.581,262.294 376,269.258 376,276.424 ', title="Live in the present")
  polygon(fill='#201F1F', points='473.316,273.393 489.303,257.958 508.872,255.201 521.275,258.784 534.506,265.951 508.872,251.066\
  495.642,252.169 511.353,247.483 528.718,254.099 534.506,255.477 503.911,234.253 483.79,237.836 471.938,257.958 463.394,275.322\
  ', title="Fuck Trump")
