meta(property='og:title', content='#{title}')
meta(property='og:image', content='#{og_img}')
meta(property='og:site_name', content='#{username}')
meta(property='og:description', content="#{description}")
