img.img-rounded(itemprop='image', src='/assets/img/blog-author.jpg', alt='Willian Justen')
h2 About Me
p
  | My name is 
  strong(itemprop='name') Celso Mireles
  | , I have seen 
  strong 28 summers
  | . I was born on the US/Mexico border city 
  em Ciudad Juarez
  | , Mexico. I now live in Phoenix, AZ.
p
  | Even as a Business Management major at the W.P. Carey School of Businesss at Arizona State University, I had a passion for technology and software. I moonlighted through one of the 'Learn C++ in 24 hours' books passed down to me from an electrical engineer friend.
p
  | After graduating, I fed my passion for computer science by taking an online Java programming intro course.
p
  | Then the whole Dream Act movement started taking place and I joined the ranks of countless other social justice warriors fighting the good fight: stopping deportations, demanding administrative relief of President Obama, etc.
p
  | After that I went back to consulting and now offer digital strategy and web development services.
h2 Skills
ul.skill-list
  li HTML (Jekyll/liquid, Jade)
  li CSS (Sass, Less)
  li CSS Frameworks (Bootstrap, Foundation)
  li Responsive Design (Mobile First)
  li Javascript / jQuery / AngularJS
  li Git / Github
  li Scrum and Kanban
  li NodeJS (basic)
  li Photoshop
  li Illustrator
  li Video Editing (Final Cut)
h2 Projects
ul
  li
    a(href='http://undocumoney.com/') UndocuMoney.com
  li
    a(href='https://github.com/PochoLabs/WordPress-PochoMaps') WordPress Interactive Map Plugin Plugin
  li
    a(href='http://movimientocosecha.com/') Movimiento Cosecha Website
