section.container.jumbotron(role='banner')
	.row
		div.twelve.columns
			h1 #{ user_title }
	.row
		div.six.columns
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi laborum ut distinctio, deserunt deleniti libero vitae rerum temporibus esse. Nostrum incidunt vero veniam minima, recusandae eaque voluptatum mollitia enim repudiandae.
		div.six.columns
			img.img-responsive(src="http://placehold.it/200x300", alt="Image of Me", style="width:100%;")

section#portfolio.container
	.row
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 1
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 2
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 3
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
	.row
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 4
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 5
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
		.four.columns
			.portfolio-item.text-center
				h3.text-center Item 6
				img(src="http://placehold.it/300x400" alt="Portfolio Item")
				a(href="#") See More
