header.row(role='banner')
	.col-12
		h1 #{ user_title }
	.col-6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi laborum ut distinctio, deserunt deleniti libero vitae rerum temporibus esse. Nostrum incidunt vero veniam minima, recusandae eaque voluptatum mollitia enim repudiandae.
	.col-6
		img(src="http://placehold.it/200x300", alt="Image of Me")

section#portfolio.row
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
