header.jumbotron(role='banner')
	h1 #{ user_title }
	.row
		.col-6
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi laborum ut distinctio, deserunt deleniti libero vitae rerum temporibus esse. Nostrum incidunt vero veniam minima, recusandae eaque voluptatum mollitia enim repudiandae.
		.col-6
			img(src="http://placehold.it/200x300", alt="Image of Me")
