header(role='banner')
	div
		h1 #{ user_title }
	div
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi laborum ut distinctio, deserunt deleniti libero vitae rerum temporibus esse. Nostrum incidunt vero veniam minima, recusandae eaque voluptatum mollitia enim repudiandae.
	div
		img(src="http://placehold.it/200x300", alt="Image of Me")

section#portfolio.row
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
	.col-4
		.portfolio-item
			h3 Item 1
			a(href="#") See More
