/* ==========================================================================
   Custom Design by Celso Mireles
   http://celsomireles.com


   CREDITS:


   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Oswald:700,300&subset=latin,latin-ext);

@import url(http://fonts.googleapis.com/css?family=Caudex:400,700,400italic,700italic);

body{


}

.announcement, .top-sidebar{
  padding:30px 40px;
}

#hidden-form{
  margin-bottom:20px;
}

#container{
  background: #fff;
  padding:0!important;
  box-shadow: 12px 0 15px -4px #B7B7B7, -12px 0 8px -4px #B7B7B7;
}
/**************************************/
/*****    Header Announcement     *****/
/**************************************/

body{
  padding-top:0!important;
  padding-bottom: 0!important;
}

/*    Flowy Header Section    */

#flowy-header{
  width:100%;
  height:100px;
  background-color:white;
  color:#710D29;
}

.logo-place > img{
  float:left;
}
.logo-tagline{
  padding:20px 20px 0px 40px;
  float:right;
  font-style:italic;
}

.logo-tagline > h3 {
  font-size:1.7em;
}

.navbar-form{
  margin-top:30px;
}
.form-control{
  border:0;
  border-radius: 0;
  color: white;
  background-color: #E4E5EC;
}

input[placeholder], [placeholder], *[placeholder] {
  color:white;
  border:0;
}



.btn{
  border-radius: 0;
  border: 0;
}

.btn-default{
  background: #CACCD1;
}

/* Customize the navbar links to be fill the entire space of the .navbar */


.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}


.navbar .nav > li {
    display: table-cell;
    width: 15%;
    float: none;
    text-align: center;
}


.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 0px 0 0 0px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}


/*    Announcement Section    */


.announcement{
}

.announcement > .box-content{
  background: #CFCFCF;
}

.header-content{
  overflow: hidden;
}

.header-box-text{
  margin:10px 40px;
  padding:20px 20px;
  position:absolute;
  bottom:30px;
  left:0px;
  color:#fff;
  z-index: 1000;
}

.header-box-text p {
  font-size:1.2em;
}

.header-image{
  width:100%;
  height:100%;
  position: relative;
}

.header-fade{
  width:100%;
  height:100%;
  max-width:100%;
  max-height:100%;
  position: absolute;
  top:0px;
  left:0px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

/**************************************/
/*****    Header Side Bar Area    *****/
/**************************************/

.top-sidebar > .box-content{
  height:300px;
  width:100%;
  padding: 0;
}

.header-sb-section{
  background-color:#3e3e3e;
  margin:5px 0px 5px 0px;
  max-height: 90px;
  min-width:300px;
  color:#fff;
}

.header-sb-section:hover{
  background-color:#767676;
  -webkit-animation: lightenRed 1s; /* Chrome, Safari, Opera */
  animation: lightenRed;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes lightenRed {
    0%   {background: #3e3e3e;}
    100% {background: #767676;}
}

/* Standard syntax */
@keyframes lightenRed {
    0%   {background: #3e3e3e;}
    100% {background: #767676;}
}

.header-sb-text{
  position:absolute;
  margin-left:20px;
}

.header-sb-pic{
  opacity:0;
}

.social-media{
  padding:10px 20px;
}

.social-media > i{
  margin: 0px 5px 0px 5px;
}

.sm-lead{
  font-size:18px;
  padding:0px 20px 20px 20px;
  position:relative;
  top:-10px;
}

/**************************************/
/*****      Main Body Section     *****/
/**************************************/

.main-body-1{
  background-color:#3e3e3e;
  color: #E4E5EC;
}

.latest-news{
  height:auto;
}

.ln-post > img{
}

.fl-left{
  float:left;
}

.fl-right{
  float: right;
}

/* Social Media Section */
.sm-feed > div > h2, .latest-news > h2{
  font-weight:bold;

}

.fb-activity{
  background-color: #fff;

}
.sm-feed > .box-content{
  padding:15px;
}
.sm-feed > div > div{
  margin-top:15px;
  margin-bottom:15px;
}
/**************************************/
/*****       Footer Section       *****/
/**************************************/

footer{
  background: #353535;
  color:#fff;
  padding-top:20px;
  padding-bottom: 20px;
}

/**************************************/
/*****       Contact Form       *****/
/**************************************/

#contact-form{
  padding:30px 20px 20px 20px;
}

/**************************************/
/*****     Calendar Placeholder   *****/
/**************************************/

.calendar-plugin{
  min-width:300px;
  width:90%;
  height:700px;
  background: #3D3D3D;
  color:gray;
  margin:20px;
  padding:100px;
}

/**************************************/
/*****       LeaderShip Page      *****/
/**************************************/

.ldr-role{
  width:auto;

  color:#474747;
  margin:10px;
}

.role-details{
  position:absolute;
  padding:20px;
}


.container.page{
  paddin-top: 20px;
  padding-bottom: 30px;

}

.container.w-padding{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left:40px;
  padding-right:40px;
}

.google-map{
  background-color:#3c3c3c;
  color:#ffffff;
  padding: 20%;
}
