

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.emphasis{
	display: inline-block;
	margin: 20px 30px;
	font-weight: bolder;
	font-size: 1.6em;
}

.parallax-window{
	min-height: 200px;
	background-color: rgba(53, 129, 172, 0.5);
	color:white;
}

#parallax1 > div > h1{
	color:white;
}

.logo-digital{
	color:#4D5457;
	font-size:1.5em;
}

.logo-strategy{
	color:#38BEE5;
	font-weight: bolder;
	font-size: 1.5em;
}

.logo-tip{
	color:#4D5457;
	font-size: .8em;
}

.logo-digital, .logo-strategy, .logo-tips{
	font-family: 'Titillium Web', sans-serif;
}

.contact{
	margin:30px 0px;
}

/* ====  Styling for Contact Form   =========== */



.section-title{
	font-size:2em;
	font-family: "Raleway", Arial, sans-serif;
	font-weight: bolder;
}

.contact-text{
	font-size:1.4em;
}

.form-label {
	font-size: 2em;
	color:white;

}

.contact-button{
	border: 3px solid #DDE2E2;
	background-color: #898989;
	border-radius: 0;
	color: #DDE2E2;
	font-family: "Raleway", Arial, sans-serif;
	font-size:1.5em;
	font-weight: bolder;

}

#input-10, #input-11{
	font-size: 1.5em;
}




