doctype html
head
  != partial("../_partial/head")
  body

  != partial('../_partial/svg-icons.html')
  != partial('../_partial/header-post')

  section.post(itemscope, itemtype="http://schema.org/BlogPosting", itemprop="articleBody")
    article#scroll.post-content(role="article")
      != yield

    != partial("../_partial/share")
    != partial("../_partial/author")
    != partial("../_partial/comments")
    != partial("../_partial/footer")

    script#dsq-count-scr(src='//#{disqus_username}.disqus.com/count.js', async='')
    if img
      style.
        .header-post{
          background: url('#{img}');
          background-repeat: none;
          background-position: center;
          background-size: cover;
        }
