/* ==========================================================================
   Custom Styles by Celso Mireles 
   http://celsomireles.com
   ========================================================================== */
@font-face {
    font-family: 'tikal_sans_mediumMdIt';
    src: url('../fonts/TikalSans-MediumItalic-webfont.eot');
    src: url('../fonts/TikalSans-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TikalSans-MediumItalic-webfont.woff2') format('woff2'),
         url('../fonts/TikalSans-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/TikalSans-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/TikalSans-MediumItalic-webfont.svg#tikal_sans_mediumMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tikal_sans_mediummedium';
    src: url('../fonts/TikalSans-Medium-webfont.eot');
    src: url('../fonts/TikalSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TikalSans-Medium-webfont.woff2') format('woff2'),
         url('../fonts/TikalSans-Medium-webfont.woff') format('woff'),
         url('../fonts/TikalSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/TikalSans-Medium-webfont.svg#tikal_sans_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


p{
	font-family: 'tikal_sans_mediummedium';
	font-size: 1.1em;
}

h1, h2, h3{
	font-family: 'tikal_sans_mediumMdIt', 'Arial', 'sans-serif';
}

/******************************************/
/******  Navigation Section ********/
/******************************************/

#fixed-scroller{
	position:fixed;
	bottom: 15px;
	right:15px;
	float:right;
	color:#B6C2CE;

}

.current{
	background-color:pink!important;
}


/******************************************/
/****** Under Construction Section ********/
/******************************************/

#construction{
	height:100%;
	background-color:rgba(30,283,183,0.5);
	position: relative;

    padding-bottom: 102px;   
    min-height: 600px;
    width: 100%;
    background: #161415 url(../img/header-background.jpg) no-repeat center center;
    background-size: cover !important;
	-webkit-background-size: cover !important; 

	color:white;
}
#construction > .container > .content{
	text-align: center;
	
}
#construction > .container > .content > h1{
	font-size:3.3em;
}

#logo{
	max-width:50%;
	margin:50px auto 0px auto;
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 40000em) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}

/******************************************/
/******** MailChimp custom styling ********/
/******************************************/

#mc_embed_signup{
	text-align: center!important;
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	width:300px!important;
	min-width: 200px!important;
	margin-left:auto!important;
	margin-right:auto!important;

}

#mc-embedded-subscribe{
	background-color: #9B1818!important;

	width:200px!important;
	min-width: 150px!important;
	margin-left:auto!important;
	margin-right:auto!important;
}

#mce-EMAIL{
	background-color: rgba(250,250,250,0.99);

	border: 2px solid #FFF!important;
	border-radius: 6px;


	width:300px!important;
	min-width: 200px!important;
	margin-left:auto!important;
	margin-right:auto!important;
	color:black;
}

.scroll-down{
	
	text-align: center;
	min-width:80px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 30px;

}

.scroll-down > a{
	text-decoration: none;
}

.scroll-down > a > i{
	color:white;
}

/******************************************/
/************* About Section **************/
/******************************************/

#about{
	height:100%;
	position: relative;
    padding-bottom: 102px;   
    padding-top: 47px;
    min-height: 600px;
    width: 100%;
    background: #0C4B89;
    background: #6D1F1F;
    background-size: cover !important;
	-webkit-background-size: cover !important; 
	font-family: 'tikal_sans_mediumMdIt', sans-serif;

	color:white;
}

#about a{
	color:#fff!important;
}

.mission, .mission > div, .mission > div > h1{
	font-family: 'tikal_sans_mediumMdIt', 'Arial';
	font-size: :1.9em;
}

.image-01{
	width:100%;
	max-width:300px;
	float:right;
	margin: 15px;
}

.image-02{
	width:100%;
	max-width:250px;
	float:left;
	margin: 15px;
}

.pillars{

	
}

/******************************************/
/************* Dates Section **************/
/******************************************/

#dates{
	min-height:400px;
	padding-top: 47px;
}



#footer{
	background-color: #232323;
	color:white;
	min-height:100px;
	padding:30px 50px 15px 50px;
}





