/* ==========================================================================
   Custom Styles by Celso Mireles 
   http://celsomireles.com
   ========================================================================== */


/******************************************/
/****** Under Construction Section ********/
/******************************************/

#construction{
	height:100%;
	background-color:rgba(30,283,183,0.5);
	position: relative;

    padding-bottom: 102px;   
    min-height: 600px;
    width: 100%;
    background: #161415 url(../img/header-background.jpg) no-repeat center center;
    background-size: cover !important;
	-webkit-background-size: cover !important; 

	color:white;
}
#construction > .container > .content{
	text-align: center;
	padding-top:15%;
}
#construction > .container > .content > h1{
	font-size:3.3em;
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 40000em) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}

/******************************************/
/******** MailChimp custom styling ********/
/******************************************/

#mc_embed_signup{
	text-align: center!important;
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	width:300px!important;
	min-width: 200px!important;
	margin-left:auto!important;
	margin-right:auto!important;

}

#mc-embedded-subscribe{
	background-color: #9B1818!important;
}

#mce-EMAIL{
	background-color: rgba(200,200,200,0.4);
	border: 0px solid gray!important;
	border-radius: 6px;
}

.scroll-down{
	
	text-align: center;
	min-width:80px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 30px;

}

.scroll-down > a{
	text-decoration: none;
}

.scroll-down > a > i{
	color:white;
}

/******************************************/
/************* About Section **************/
/******************************************/

#about{
	height:100%;
	position: relative;
    padding-bottom: 102px;   
    padding-top: 47px;
    min-height: 600px;
    width: 100%;
    background: #0C4B89;
    background-size: cover !important;
	-webkit-background-size: cover !important; 

	color:white;
}

#about a{
	color:black!important;
}


/******************************************/
/************* Dates Section **************/
/******************************************/

#dates{
	min-height:400px;
	padding-top: 47px;
}



#footer{
	background-color: #232323;
	color:white;
	min-height:100px;
	padding:30px 50px 15px 50px;
}





