/* ==========================================================================
   Custom Design by Celso Mireles
   http://celsomireles.com
   ========================================================================== */

.announcement, .top-sidebar{
  padding:30px 40px;
}

#hidden-form{
  margin-bottom:20px;
}

/**************************************/
/*****    Header Announcement     *****/
/**************************************/

body{
  padding-top:0!important;
  padding-bottom: 0!important;
}

/*    Flowy Header Section    */

#flowy-header{
  width:100%;
  height:100px;
  background-color:#D4D4D4;
  color:#404040;
}

.logo-place > img{
  float:left;
}
.logo-tagline{
  padding:20px 20px 0px 40px;
  float:right;
}

/* Customize the navbar links to be fill the entire space of the .navbar */

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav > li {
    display: table-cell;
    width: 15%;
    float: none;
    text-align: center;
}


.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}


/*    Announcement Section    */

.announcement{
}

.announcement > .box-content{
  background: #CFCFCF;
}

.header-box-text{
  margin:10px 40px;
  padding:50px 50px;
  position:absolute;
  bottom:30px;
  left:0px;
}

.header-image{
  opacity: 0;
}

/**************************************/
/*****    Header Side Bar Area    *****/
/**************************************/

.top-sidebar > .box-content{
  height:300px;
  width:100%;
  padding: 0;
}

.header-sb-section{
  background-color:#CFCFCF;
  margin:5px 0px 5px 0px;
  max-height: 90px;
  min-width:300px;
}
.header-sb-text{
  position:absolute;
  margin-left:20px;
}

.header-sb-pic{
  opacity:0;
}

.social-media{
  padding:10px 20px;
}

.social-media > i{
  margin: 0px 5px 0px 5px;
}

.sm-lead{
  font-size:18px;
  padding:0px 20px 20px 20px;
  position:relative;
  top:-10px;
}

/**************************************/
/*****      Main Body Section     *****/
/**************************************/

.main-body{
  background-color:#F5F5F5;
}

.latest-news{
  height:auto;
}

.ln-post > img{
}

.fl-left{
  float:left;
}

.fl-right{
  float: right;
}

/* Social Media Section */
.sm-feed{

}

.sm-feed > .box-content{
  padding:15px;
}
.sm-feed > div > div{
  margin-top:15px;
  margin-bottom:15px;
}
/**************************************/
/*****       Footer Section       *****/
/**************************************/

footer{
  background: #353535;
  color:#fff;
  padding-top:20px;
  padding-bottom: 20px;
}

/**************************************/
/*****       Contact Form       *****/
/**************************************/

#contact-form{
  padding:30px 20px 20px 20px;
}

/**************************************/
/*****       Calendar Placeholder       *****/
/**************************************/

.calendar-plugin{
  min-width:300px;
  width:90%;
  height:700px;
  background: #3D3D3D;
  color:gray;
  margin:20px;
  padding:100px;
}